/bin
/vendor
*.log
/htdocs/random-keys.php

# Symlinked by composer hooks
/htdocs/index.php
/htdocs/wp-activate.php
/htdocs/wp-admin
/htdocs/wp-blog-header.php
/htdocs/wp-config.php
/htdocs/wp-comments-post.php
/htdocs/wp-cron.php
/htdocs/wp-includes
/htdocs/wp-links-opml.php
/htdocs/wp-load.php
/htdocs/wp-login.php
/htdocs/wp-mail.php
/htdocs/wp-settings.php
/htdocs/wp-signup.php
/htdocs/wp-trackback.php
/htdocs/xmlrpc.php
/htdocs/wp-content/themes/default-themes


# W3 Total Cache
/htdocs/wp-content/w3-total-cache*
/htdocs/wp-content/w3tc-config
/htdocs/wp-content/w3tc-*/**/**
/htdocs/wp-content/advanced-cache.php
/htdocs/wp-content/object-cache.php

# Plugins are managed by composer
/htdocs/wp-content/plugins
!/htdocs/wp-content/plugins/index.php
/htdocs/wp-content/mu-plugins/*
!/htdocs/wp-content/mu-plugins/*.php
/htdocs/wp-content/mu-plugins/mu-require.php

/htdocs/wp-content/themes/composer

# Bower components
/htdocs/wp-content/components

/htdocs/sitemap.xml
/htdocs/sitemap.xml.gz

/htdocs/wp-content/uploads
/htdocs/wp-content/upgrade
/htdocs/wp-content/cache
